body{
    width: 100%;
    background: rgb(0,90,182);
    background: radial-gradient(circle, rgba(0,90,182,1) 0%, rgba(9,3,84,1) 100%);
    
   
    font-family: sans-serif;
    color: white;
}

header{
    text-align: center;
    font-size: 70px;
    color: white
}




.hechizo{
    text-align: center;
    background-color: rgb(99, 98, 98);
    height: 100px;
    border-radius: 9px;
    width: 450px;
    float: left;
    padding: 10px;
    margin: 10px;

}